%ul.nav.nav-sidebar
  = nav_link do
    = link_to root_path, title: 'Back to dashboard', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        Back to Dashboard

  %li.separate-item

  = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
    = link_to profile_path, title: 'Profile', data: {placement: 'right'} do
      = icon('user fw')
      %span
        Profile
  = nav_link(path: 'profiles#design') do
    = link_to design_profile_path do
      %i.fa.fa-image
      %span
        Design
  = nav_link(path: 'profiles#history') do
    = link_to history_profile_path do
      %i.fa.fa-history
      %span
        History

