%ul.nav.nav-sidebar
  = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
    = link_to profile_path, title: "Profile" do
      %i.fa.fa-user
      %span
        Profile
  = nav_link(path: 'profiles#design') do
    = link_to design_profile_path do
      %i.fa.fa-image
      %span
        Design
  = nav_link(path: 'profiles#history') do
    = link_to history_profile_path do
      %i.fa.fa-history
      %span
        History

