.project-edit-container
  .project-edit-errors
  .project-edit-content
    %div
      %h3.page-title
        Project settings
      %hr
      .panel-body
        = form_for [@project.namespace.becomes(Namespace), @project], remote: true, html: { multipart: true, class: "edit_project form-horizontal fieldset-form" }, authenticity_token: true do |f|

          %fieldset
            .form-group.project_name_holder
              = f.label :name, class: 'control-label' do
                Project name
              .col-sm-10
                = f.text_field :name, placeholder: "Example Project", class: "form-control", id: "project_name_edit"


            .form-group
              = f.label :description, class: 'control-label' do
                Project description
                %span.light (optional)
              .col-sm-10
                = f.text_area :description, placeholder: "Awesome project", class: "form-control", rows: 3, maxlength: 250

            - if @project.repository.exists? && @project.repository.branch_names.any?
              .form-group
                = f.label :default_branch, "Default Branch", class: 'control-label'
                .col-sm-10= f.select(:default_branch, @repository.branch_names, {}, {class: 'select2 select-wide'})


          %fieldset.features
            %legend
              Features:
            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  = f.label :issues_enabled do
                    = f.check_box :issues_enabled
                    %strong Issues
                    %br
                    %span.descr Lightweight issue tracking system for this project

            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  = f.label :merge_requests_enabled do
                    = f.check_box :merge_requests_enabled
                    %strong Merge Requests
                    %br
                    %span.descr Submit changes to be merged upstream.

            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  = f.label :wiki_enabled do
                    = f.check_box :wiki_enabled
                    %strong Wiki
                    %br
                    %span.descr Pages for project documentation

          .form-actions
            = f.submit 'Save changes', class: "btn btn-save"

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      Saving project.
    %p Please wait a moment, this page will automatically refresh when ready.


= render 'shared/confirm_modal', phrase: @project.path
